DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=starterkit_dev
DATABASE_SSL=false

SENTRY_DSN=

NODE_ENV=development
PORT=3000
WEB_URL=http://localhost:5173
